:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
  --font-atlata: 'Alata', sans-serif;
  --font-josefin: 'Josefin Sans', sans-serif;
  font-family: var(--font-atlata);
  font-size: 0.9375rem;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.title {
  color: var(--black);
  font-family: var(--font-josefin);
  font-size: 48px;
  font-weight: 300;
  margin: 0;
  line-height: normal;
  text-transform: uppercase;
}

.fancy-link-hover,
.fancy-link-hover--full {
  position: relative;
}
.fancy-link-hover::after,
.fancy-link-hover--full::after {
  transition: width 0.2s ease-in-out;
  content: '';
  position: absolute;
  bottom: -8px;
  width: 0;
  display: block;
  left: 50%;
  height: 2px;
  transform: translateX(-50%);
  background-color: var(--white);
}
.fancy-link-hover:hover::after {
  width: 50%;
}
.fancy-link-hover--full:hover::after {
  width: 100%;
}

.text {
  font-family: var(--font-atlata);
  color: var(--dark-gray);
  font-size: 18px;
  letter-spacing: 0.03em;
  margin-block: 0;
}
@media (min-width: 768px) {
  .text {
    font-size: 16px;
  }
}

.mt-lg {
  margin-block-start: 3rem;
}

.container {
  margin-inline: auto;
  max-width: 1148px;
  padding-inline: 1rem;
  width: 100%;
}

.text-center {
  text-align: center;
}

@media (max-width: 768px) {
  .text-center-mobile {
    text-align: center;
  }
  .hide-mobile {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .hide-desktop {
    display: none !important;
  }
}

.title-with-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .title-with-button-wrapper {
    justify-content: space-between;
  }
}

.button {
  background-color: transparent;
  border: 2px solid var(--dark-gray);
  color: var(--black);
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-atlata);
  font-size: 15px;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  font-weight: 400;
  letter-spacing: 4.5px;
  line-height: normal;
  padding-block: 14px;
  padding-inline: 38px;
  text-decoration: none;
  text-transform: uppercase;
}
.button:hover {
  background-color: var(--black);
  color: var(--white);
}

.main {
  margin-block-end: 120px;
  margin-block-start: 120px;
}
@media (min-width: 768px) {
  .main {
    margin-block-end: 186px;
    margin-block-start: 160px;
  }
}

/* HEADER */
.header {
  background-image: url('./images/mobile/image-hero.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-block-start: 50px;
  padding-block-end: 150px;
  background-color: transparent;
}

.header.active {
  background-image: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: var(--black);
}
.header.active .header__content {
  display: none;
}

@media (min-width: 768px) {
  .header {
    background-image: url('./images/desktop/image-hero.jpg');
  }
}

.header__title {
  font-size: 50px;
  font-family: var(--font-josefin);
  text-transform: uppercase;
  color: var(--white);
  font-weight: 300;
  padding: 30px;
  width: 100%;
  border: 2px solid var(--white);
  margin-block-start: 150px;
  margin-block-end: 0;
}
@media (min-width: 768px) {
  .header__title {
    font-size: 70px;
    width: 60%;
  }
}

.header__nav-bar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container {
  display: flex;
  height: 100%;
  flex-direction: column;
}
@media (min-width: 768px) {
  .header__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.header__logo {
  display: inline-block;
  cursor: pointer;
}
.header__logo img {
  vertical-align: middle;
  object-fit: contain;
}

.header__button {
  display: inline-block;
  padding: 0;
  height: 18px;
  width: 24px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  transition: transform 0.2s ease-in-out;
}
.header__button span {
  background-color: var(--white);
  display: block;
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0;
}
.header__button span:nth-of-type(1) {
  top: 0;
  transition:
    top 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}
.header__button span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.2s ease-in-out;
}
.header__button span:nth-of-type(3) {
  bottom: 0;
  transition:
    bottom 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}
.header__button[aria-expanded='true'] {
  transform: rotate(90deg);
}
.header__button[aria-expanded='true'] span:nth-of-type(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.header__button[aria-expanded='true'] span:nth-of-type(2) {
  opacity: 0;
}
.header__button[aria-expanded='true'] span:nth-of-type(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}
@media (min-width: 768px) {
  .header__button {
    display: none;
  }
}

.header__nav {
  display: none;
  margin-block: auto;
}
.header__nav.active {
  display: block;
}
@media (min-width: 768px) {
  .header__nav {
    margin-block: 0;
    display: block;
  }
}

.header__nav-list {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .header__nav-list {
    display: flex;
    justify-content: flex-end;
  }
}

.header__nav-list-item:not(:first-of-type) {
  margin-block-start: 58px;
}
@media (min-width: 768px) {
  .header__nav-list-item:not(:first-of-type) {
    margin-block-start: 0px;
    margin-inline-start: 32px;
  }
}

.header__nav-link {
  font-family: var(--font-josefin);
  font-size: 46px;
  color: var(--white);
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .header__nav-link {
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
  }
}

/* LEADERSHIP SECTION */
.leadership-section__wrapper {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-block-end: 130px;
}
.leadership-section__image-wrapper {
  display: block;
  width: 100%;
  flex: 0 0 100%;
}
.leadership-section__image {
  vertical-align: middle;
  width: 100%;
  object-fit: cover;
}
.leadership-section__content {
  flex: 0 0 100%;
  padding-block-start: 60px;
  background-color: var(--white);
}
.leadership-section__content-text {
  margin-block-start: 40px;
}
@media (min-width: 1024px) {
  .leadership-section__image-wrapper {
    display: block;
    flex: 0 0 65%;
  }
  .leadership-section__content {
    flex: 0 0 50%;
    padding-inline-start: 80px;
    padding-block-start: 96px;
    margin-inline-start: -15%;
  }
  .leadership-section__wrapper {
    margin-block-end: 180px;
    flex-direction: row;
  }
}

/* CREATION CARD */
.creation-card-grid {
  padding-inline-start: 0;
  list-style-type: none;
  column-gap: 30px;
  display: grid;
  grid-template-columns: 1fr;
  margin-block-start: 88px;
  row-gap: 30px;
}
.creation-card-grid li {
  height: 155px;
  width: 100%;
}
@media (min-width: 768px) {
  .creation-card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .creation-card-grid li {
    height: 455px;
  }
}
@media (min-width: 1024px) {
  .creation-card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.creation-card-grid__card {
  align-self: start;
  background-size: cover;
  position: relative;
  text-decoration: none;
  width: 100%;
}

.creation-card-grid__card:hover .creation-card-grid__card__text {
  background-color: rgba(255, 255, 255, 0.5);
  color: var(--black);
}

.creation-card-grid__card__image {
  display: block;
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.creation-card-grid__card__text {
  background-color: transparent;
  color: var(--white);
  display: flex;
  flex-direction: column;
  font-family: var(--font-josefin);
  font-size: 2rem;
  font-weight: 300;
  height: 100%;
  justify-content: end;
  line-height: normal;
  padding: 30px;
  position: relative;
  text-transform: uppercase;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  z-index: 2;
}
@media (min-width: 768px) {
  .creation-card-grid__card__text {
    padding: 42px;
  }
}

/* FOOTER */
.footer {
  background-color: var(--black);
  padding-block-start: 70px;
  padding-block-end: 70px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .footer-grid {
    row-gap: 42px;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
  }
}

.footer__logo {
  display: block;
}
.footer__logo-link {
  margin-inline: auto;
  display: inline-block;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__logo-link {
    margin-inline: 0;
  }
}

.footer__list {
  color: var(--white);
  list-style: none;
  margin-block-start: 62px;
  margin-block-end: 48px;
  margin-inline: 0;
  padding: 0;
  text-align: center;
}
.footer__list li:not(:first-of-type) {
  margin-block-start: 32px;
}
@media (min-width: 768px) {
  .footer__list {
    order: 3;
    margin-block: 0;
    display: flex;
  }
  .footer__list li:not(:first-of-type) {
    margin-block-start: 0px;
    margin-inline-start: 32px;
  }
}

.footer__list-link {
  color: var(--white);
  font-family: var(--font-atlata);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .footer__list-link {
    font-size: 15px;
  }
}

.footer__social-list {
  display: flex;
  padding: 0;
  list-style: none;
  margin: 0;
  align-items: center;
  justify-content: center;
}
.footer__social-list li:not(:first-of-type) {
  margin-inline-start: 20px;
}
.footer__social-link {
  display: block;
  position: relative;
}
.footer__social-link-img {
  display: block;
  object-fit: contain;
}
@media (min-width: 768px) {
  .footer__social-list {
    justify-content: flex-end;
    order: 2;
  }
}

.footer__legal {
  font-family: var(--font-atlata);
  color: var(--dark-gray);
  margin-block-end: 0;
  margin-block-start: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__legal {
    margin-block-start: 0px;
    text-align: right;
    order: 4;
  }
}
