:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
  --font-atlata: 'Alata', sans-serif;
  --font-josefin: 'Josefin Sans', sans-serif;
  font-family: var(--font-atlata);
  font-size: 0.9375rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.title {
  color: var(--black);
  font-family: var(--font-josefin);
  font-size: 48px;
  font-weight: 300;
  margin: 0;
  line-height: normal;
  text-transform: uppercase;
}

.text {
  font-family: var(--font-atlata);
  color: var(--dark-gray);
  font-size: 18px;
  letter-spacing: 0.03em;
  margin-block: 0;
}
@media (min-width: 768px) {
  .text {
    font-size: 16px;
  }
}

.mt-lg {
  margin-block-start: 3rem;
}

.container {
  margin-inline: auto;
  max-width: 1148px;
  padding-inline: 1rem;
  width: 100%;
}

.text-center {
  text-align: center;
}

@media (max-width: 768px) {
  .text-center-mobile {
    text-align: center;
  }
  .hide-mobile {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .hide-desktop {
    display: none !important;
  }
}

.title-with-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .title-with-button-wrapper {
    justify-content: space-between;
  }
}

.button {
  background-color: transparent;
  border: 2px solid var(--dark-gray);
  color: var(--black);
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-atlata);
  font-size: 15px;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  font-weight: 400;
  letter-spacing: 4.5px;
  line-height: normal;
  padding-block: 14px;
  padding-inline: 38px;
  text-decoration: none;
  text-transform: uppercase;
}
.button:hover {
  background-color: var(--black);
  color: var(--white);
}

.main {
  margin-block-end: 120px;
  margin-block-start: 120px;
}
@media (min-width: 768px) {
  .main {
    margin-block-end: 186px;
    margin-block-start: 160px;
  }
}

/* LEADERSHIP SECTION */
.leadership-section__wrapper {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-block-end: 130px;
}
.leadership-section__image-wrapper {
  display: block;
  width: 100%;
  flex: 0 0 100%;
}
.leadership-section__image {
  vertical-align: middle;
  width: 100%;
  object-fit: cover;
}
.leadership-section__content {
  flex: 0 0 100%;
  padding-block-start: 60px;
  background-color: var(--white);
}
.leadership-section__content-text {
  margin-block-start: 40px;
}
@media (min-width: 1024px) {
  .leadership-section__image-wrapper {
    display: block;
    flex: 0 0 65%;
  }
  .leadership-section__content {
    flex: 0 0 50%;
    padding-inline-start: 80px;
    padding-block-start: 96px;
    margin-inline-start: -15%;
  }
  .leadership-section__wrapper {
    margin-block-end: 180px;
    flex-direction: row;
  }
}

/* CREATION CARD */
.creation-card-grid {
  padding-inline-start: 0;
  list-style-type: none;
  column-gap: 30px;
  display: grid;
  grid-template-columns: 1fr;
  margin-block-start: 88px;
  row-gap: 30px;
}
.creation-card-grid li {
  height: 155px;
  width: 100%;
}
@media (min-width: 768px) {
  .creation-card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .creation-card-grid li {
    height: 455px;
  }
}
@media (min-width: 1024px) {
  .creation-card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.creation-card-grid__card {
  align-self: start;
  background-size: cover;
  position: relative;
  text-decoration: none;
  width: 100%;
}

.creation-card-grid__card:hover .creation-card-grid__card__text {
  background-color: rgba(255, 255, 255, 0.5);
  color: var(--black);
}

.creation-card-grid__card__image {
  display: block;
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.creation-card-grid__card__text {
  background-color: transparent;
  color: var(--white);
  display: flex;
  flex-direction: column;
  font-family: var(--font-josefin);
  font-size: 2rem;
  font-weight: 300;
  height: 100%;
  justify-content: end;
  line-height: normal;
  padding: 30px;
  position: relative;
  text-transform: uppercase;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  z-index: 2;
}
@media (min-width: 768px) {
  .creation-card-grid__card__text {
    padding: 42px;
  }
}

/* FOOTER */
.footer {
  background-color: var(--black);
  padding-block-start: 70px;
  padding-block-end: 70px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .footer-grid {
    row-gap: 42px;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
  }
}

.footer__logo {
  display: block;
}
.footer__logo-link {
  margin-inline: auto;
  display: inline-block;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__logo-link {
    margin-inline: 0;
  }
}

.footer__list {
  color: var(--white);
  list-style: none;
  margin-block-start: 62px;
  margin-block-end: 48px;
  margin-inline: 0;
  padding: 0;
  text-align: center;
}
.footer__list li:not(:first-of-type) {
  margin-block-start: 32px;
}
@media (min-width: 768px) {
  .footer__list {
    order: 3;
    margin-block: 0;
    display: flex;
  }
  .footer__list li:not(:first-of-type) {
    margin-block-start: 0px;
    margin-inline-start: 32px;
  }
}

.footer__list-link {
  color: var(--white);
  font-family: var(--font-atlata);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
}
.footer__list-link::after,
.footer__social-link::after {
  transition: width 0.2s ease-in-out;
  content: '';
  position: absolute;
  bottom: -8px;
  width: 0;
  display: block;
  left: 50%;
  height: 2px;
  transform: translateX(-50%);
  background-color: var(--white);
}
.footer__list-link:hover::after {
  width: 50%;
}
@media (min-width: 768px) {
  .footer__list-link {
    font-size: 15px;
  }
}

.footer__social-list {
  display: flex;
  padding: 0;
  list-style: none;
  margin: 0;
  align-items: center;
  justify-content: center;
}
.footer__social-list li:not(:first-of-type) {
  margin-inline-start: 20px;
}
.footer__social-link {
  display: block;
  position: relative;
}
.footer__social-link:hover::after {
  width: 100%;
}
.footer__social-link-img {
  display: block;
  object-fit: contain;
}
@media (min-width: 768px) {
  .footer__social-list {
    justify-content: flex-end;
    order: 2;
  }
}

.footer__legal {
  font-family: var(--font-atlata);
  color: var(--dark-gray);
  margin-block-end: 0;
  margin-block-start: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__legal {
    margin-block-start: 0px;
    text-align: right;
    order: 4;
  }
}
